@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');

:root{
    --title-color: #101828;
    --border-color: #EAECF0;
    --text-color: #667085;
    --secondary-text-color: #ffffff;
    --secondary-color: #8E2424;
    --colaborator-color: #f0eee4;
    --footer-color: #F9FAFB;
    
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

}

.logo{
    display: flex;
    align-items: center;
}

.topoPagina{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    color: var(--text-color);
    text-decoration: none;
    padding-right: 4rem;
}

.cadastro{
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 0.6rem;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoCentralizado {
    text-align: center;
    margin-top: 5rem;
}

.sobreTitulo{
    color: var(--secondary-color);
    font-weight: bolder;
}

.titulo{
    font-size: 2.7rem;
    color: var(--title-color);
}

.descricao{
    max-width: 791px;
    color: var(--text-color);
}

.grid{
    padding: 7rem 5rem 7rem 5rem;
    display: flex;
    justify-content: space-around;
}

.informacoes{
    max-width: 280px;
}

.informacoes-sobreTitulo{
    font-size: 3.75rem;
    margin: 0;
    color: var(--secondary-color);
}

.informacoes-titulo{
    font-size: 1.1rem;
}

.informacoes-descricao{
    font-size: 1rem;
    color: var(--text-color);
}

/*vagas*/

.informacoes-vagas{
    padding-top: 5rem   ;
}

.descricao-vagas{
    color: var(--text-color);
    padding-bottom: 1rem;
}

.imagem{
    border-radius: 10px;
}

.titulo-vagas{
    text-align: left;
}

.vagas{
    width: 50vw;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

.vagas h5,p{
    padding: 1rem;
}

.vagas-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*colaboradores*/

.colaboradores{
    border-radius: 50px;
    margin-top: 5rem;
    background-color: var(--colaborator-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    text-align: center;
}

/*Rodapé*/

.rodape{
    background-color: var(--footer-color);
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email{
    width: 20vw;
    margin-right: 0.55rem;
    padding: 0.5rem;
    border: none;
    background-color: #f0f0f0;
}